In [1]:
from pyspark.sql import SparkSession
import pandas as pd

# Start Spark session
spark = SparkSession.builder.appName("RetailETL").getOrCreate()

# Example: read CSV file
df_ads = spark.read.csv("../data/GoogleAds_Sales_Uncleaned.csv", header=True, inferSchema=True)
df_ads.show(5)

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
25/08/29 13:27:27 WARN Utils: Your hostname, Sris-MacBook-Pro.local, resolves to a loopback address: 127.0.0.1; using 100.110.158.82 instead (on interface en0)
25/08/29 13:27:27 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/08/29 13:27:28 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

+-----+--------------------+------+-----------+-------+-----+-----------+---------------+-----------+----------+---------+-------+--------------------+
|Ad_ID|       Campaign_Name|Clicks|Impressions|   Cost|Leads|Conversions|Conversion Rate|Sale_Amount|   Ad_Date| Location| Device|             Keyword|
+-----+--------------------+------+-----------+-------+-----+-----------+---------------+-----------+----------+---------+-------+--------------------+
|A1000| DataAnalyticsCourse| 104.0|     4498.0|$231.88| 14.0|        7.0|          0.058|      $1892|2024-11-16|hyderabad|desktop|learn data analytics|
|A1001| DataAnalyticsCourse| 173.0|     5107.0|$216.84| 10.0|        8.0|          0.046|      $1679|20-11-2024|hyderabad| mobile|data analytics co...|
|A1002| Data Anlytics Corse|  90.0|     4544.0|$203.66| 26.0|        9.0|           NULL|      $1624|2024/11/16|hyderabad|Desktop|data analitics on...|
|A1003|Data Analytcis Co...| 142.0|     3185.0|$237.66| 17.0|        6.0|           NULL|      $1225|2024-11-26|HYDERABAD| tablet|data anaytics tra...|
|A1004|Data Analytics Corse| 156.0|     3361.0| $195.9| 30.0|        8.0|           NULL|      $1091|2024-11-22|hyderabad|desktop|online data analytic|
+-----+--------------------+------+-----------+-------+-----+-----------+---------------+-----------+----------+---------+-------+--------------------+
only showing top 5 rows

In [2]:
df_ads.write.mode("overwrite").parquet("../data/google_ads_extracted.parquet")